.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  border-radius: 10px;
  max-width: 960px;
  width: 100%;
}

.modal-head {
  margin-bottom: 71px;
}

.total {
  font-weight: bold;
  text-align: right;
  margin-top: 20px;
  margin-bottom: 130px;
  margin-right: 120px;
  font-size: 18px;
}

div .empty {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  margin: 100px;
}

.total-price {
  margin-left: 63px;
}
