.Item {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
}

.Item-code {
  padding: 20px 10px 20px 20px;
}

.Item-title {
  width: 100%;
  padding: 20px 10px;
}

.Item-price {
  text-align: end;
  text-wrap: nowrap;
  padding: 20px 10px 20px 10px;
  min-width: 86px;
}

.Item-actions {
  padding: 20px 20px 20px 10px;
}
