.CartInfo {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.CartInfo span {
  margin-right: 20px;
}

.CartInfo button {
  width: 78px;
}

.CartInfo b {
  margin-left: 15px;
  margin-right: 5px;
}
