/* Контрол с общими действиями */
.BasketTool {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 18px;
  margin-bottom: 21px;
}

.BasketTool-label {}

.BasketTool-total {
  font-weight: bold;
  margin: 0 20px;
}

.BasketTool-link a {
  font-size: 18px;
  font-weight: 400;
  color: #0087e9;
}
